In [21]:
#create forms.csv fromr mri3.csv
import pandas as pd

def forms():
    dfm = pd.read_csv("mri3.csv")
    #return dfm
    dfforms = pd.DataFrame()
    for form, donor in zip(["mri", "L1_ipa"], ["en", "L2_ipa"]):
        dfforms[form] = list(dfm[form]) + list([i for i in dfm[donor] if isinstance(i, str)])

   # for meaning in ["mri"]:
    #    dfforms[meaning] = list(dfm[meaning]) + list(["" for i in dfm[donor] if isinstance(i, str)])

    dfforms["Language_ID"] = ["0"]*len(list(dfm[donor])) + list(["1" for i in dfm[donor] if isinstance(i, str)])
    
    dfforms.reset_index(inplace=True)
    dfforms = dfforms.rename(columns={"index":"ID"})
    
    dfforms = dfforms.rename(columns={"mri":"Form", "L1_ipa":"IPA"})
    dfforms.to_csv("forms.csv", encoding="utf-8", index=False)

def borrowings():
    dfm = pd.read_csv("mri3.csv")
    dfm.reset_index(inplace=True)
    dfm = dfm.rename(columns={"index":"ID"})

    dfborr = pd.DataFrame()
    dfborr["Target_Form_ID"] = [i for i,j in zip(dfm["ID"],dfm["en"]) if isinstance(j, str)]
    dfborr["Source_Form_ID"] = [i for i in range(len(dfm),len(dfm)+len(dfborr))]

    dfborr.reset_index(inplace=True)
    dfborr = dfborr.rename(columns={"index":"ID"})
    dfborr.to_csv("borrowings.csv", encoding="utf-8", index=False)

forms()
borrowings()

In [5]:
import pandas as pd

dfm = pd.read_csv("forms.csv")
del dfm["Source"]

In [58]:
#create borrowings.csv from maori_wiktionary.csv

import pandas as pd

dfm = pd.read_csv("maori_wiktionary.csv")
dfm.reset_index(inplace=True)
dfm = dfm.rename(columns={"index":"ID"})

dfborr = pd.DataFrame()
#for i,j in zip(dfm["ID"], dfm["Donor_orth"]):
dfborr["Target_Form_ID"] = [i for i,j in zip(dfm["ID"],dfm["Donor_orth"]) if isinstance(j, str)]
dfborr["Source_Form_ID"] = [i for i in range(len(dfm),len(dfm)+len(dfborr))]

dfborr.reset_index(inplace=True)
dfborr = dfborr.rename(columns={"index":"ID"})
dfborr.to_csv("borrowings.csv", encoding="utf-8", index=False)

In [55]:
dfborr

     Target_Form_ID  Source_Form_ID
0                 6             914
1                10             915
2                22             916
3                36             917
4                67             918
..              ...             ...
114             884            1028
115             889            1029
116             890            1030
117             891            1031
118             903            1032

[119 rows x 2 columns]

In [7]:
#create forms.csv fromr maori_wiktionary.csv
import pandas as pd

dfm = pd.read_csv("maori_wiktionary.csv")

dfforms = pd.DataFrame()
for form, donor in zip(["Form_orth", "Form_ipa"], ["Donor_orth", "Donor_ipa"]):
    dfforms[form] = list(dfm[form]) + list([i for i in dfm[donor] if isinstance(i, str)])
for meaning in ["Form_meaning"]:
    dfforms[meaning] = list(dfm[meaning]) + list(["" for i in dfm[donor] if isinstance(i, str)])

dfforms["language"] = ["0"]*len(list(dfm[meaning])) + list(["1" for i in dfm[donor] if isinstance(i, str)])

dfforms.reset_index(inplace=True)
dfforms = dfforms.rename(columns={"index":"ID"})

dfforms

,ID,Form_orth,Form_ipa,Form_meaning,language
0,0,A,a,"The first letter of the Maori alphabet, writte...",0
1,1,a,a,of,0
2,2,aha,aha,what (interrogative pronoun),0
3,3,ahakoa,ahakoa,although,0
4,4,ahau,ahau,Alternative form of au,0
...,...,...,...,...,...
1028,1028,August,ɔːɡəst,,1
1029,1029,April,eɪpɹəl,,1
1030,1030,officer,ɒfɪsə,,1
1031,1031,apple,apəl,,1
1032,1032,eagle,iːɡəl,,1

In [64]:
dfforms = dfforms.rename(columns={"Form_orth":"Form", "Form_ipa":"item_IPA",
                                  "language":"Language_ID", "Form_meaning":"meaning"})

,ID,Form,item_IPA,meaning,Language_ID
0,0,A,a,"The first letter of the Maori alphabet, writte...",0
1,1,a,a,of,0
2,2,aha,aha,what (interrogative pronoun),0
3,3,ahakoa,ahakoa,although,0
4,4,ahau,ahau,Alternative form of au,0
...,...,...,...,...,...
1028,1028,August,ɔːɡəst,,1
1029,1029,April,eɪpɹəl,,1
1030,1030,officer,ɒfɪsə,,1
1031,1031,apple,apəl,,1
1032,1032,eagle,iːɡəl,,1

In [6]:
dfm.to_csv("forms.csv", encoding="utf-8", index=False)